@font-face {
  font-family: 'natrix-icons';
  src:  url('fonts/natrix-icons.eot?nm3nmh');
  src:  url('fonts/natrix-icons.eot?nm3nmh#iefix') format('embedded-opentype'),
    url('fonts/natrix-icons.ttf?nm3nmh') format('truetype'),
    url('fonts/natrix-icons.woff?nm3nmh') format('woff'),
    url('fonts/natrix-icons.svg?nm3nmh#natrix-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i.in {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'natrix-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.natrix-icon-PERL-512:before {
  content: "\e907";
}
.natrix-icon-json-file:before {
  content: "\e904";
}
.natrix-icon-node-dot-js:before {
  content: "\e905";
  color: #393;
}
.natrix-icon-folder:before {
  content: "\e90b";
}
.natrix-icon-batman:before {
  content: "\e900";
}
.natrix-icon-file-css:before {
  content: "\e901";
}
.natrix-icon-document-file-php:before {
  content: "\e902";
}
.natrix-icon-file-archive-o:before {
  content: "\e903";
}
.natrix-icon-file-zip-o:before {
  content: "\e903";
}
.natrix-icon-image:before {
  content: "\e90d";
}
.natrix-icon-file-text2:before {
  content: "\e926";
}
.natrix-icon-database:before {
  content: "\e964";
}
.natrix-icon-wrench:before {
  content: "\e991";
}
.natrix-icon-cogs:before {
  content: "\e995";
}
.natrix-icon-windows:before {
  content: "\eac1";
}
