@charset "UTF-8";
@font-face {
  font-family: "natrix-icons";
  src: url("fonts/natrix-icons.eot?y6segp");
  src: url("fonts/natrix-icons.eot?y6segp#iefix") format("embedded-opentype"), url("fonts/natrix-icons.ttf?y6segp") format("truetype"), url("fonts/natrix-icons.woff?y6segp") format("woff"), url("fonts/natrix-icons.svg?y6segp#natrix-icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

i .in {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "natrix-icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.natrix-icon-json-file:before {
  content: ""; }

.natrix-icon-exe-file:before {
  content: ""; }

.natrix-icon-applicationxperl_103626 .path1:before {
  content: "";
  color: #51b9c3; }

.natrix-icon-applicationxperl_103626 .path2:before {
  content: "";
  margin-left: -1em;
  color: black;
  opacity: 0.392; }

.natrix-icon-applicationxperl_103626 .path3:before {
  content: "";
  margin-left: -1em;
  color: #7ec5cb; }

.natrix-icon-applicationxperl_103626 .path4:before {
  content: "";
  margin-left: -1em;
  color: white; }

.natrix-icon-node-dot-js:before {
  content: "";
  color: #393; }

.natrix-icon-folder:before {
  content: ""; }

.natrix-icon-batman:before {
  content: ""; }

.natrix-icon-file-css:before {
  content: ""; }

.natrix-icon-document-file-php:before {
  content: ""; }

.natrix-icon-file-archive-o:before {
  content: ""; }

.natrix-icon-file-zip-o:before {
  content: ""; }

.natrix-icon-image:before {
  content: ""; }

.natrix-icon-file-text2:before {
  content: ""; }

.natrix-icon-database:before {
  content: ""; }

.natrix-icon-wrench:before {
  content: ""; }

.natrix-icon-cogs:before {
  content: ""; }

.natrix-icon-windows:before {
  content: ""; }
