$icomoon-font-family: "natrix-icons" !default;
$icomoon-font-path: "fonts" !default;

$natrix-icon-PERL-512: "\e907";
$natrix-icon-json-file: "\e904";
$natrix-icon-exe-file: "\e906";
$natrix-icon-node-dot-js: "\e905";
$natrix-icon-folder: "\e90b";
$natrix-icon-batman: "\e900";
$natrix-icon-file-css: "\e901";
$natrix-icon-document-file-php: "\e902";
$natrix-icon-file-archive-o: "\e903";
$natrix-icon-file-zip-o: "\e903";
$natrix-icon-image: "\e90d";
$natrix-icon-file-text2: "\e926";
$natrix-icon-database: "\e964";
$natrix-icon-wrench: "\e991";
$natrix-icon-cogs: "\e995";
$natrix-icon-windows: "\eac1";

